---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Document</title>
	</head>
	     <a href="/">Home</a>
        <a href="/about/">About</a>
		<a href="/architecture/">Architecture</a>
		<h1>hello</h1>
	</body>
</html>